# Entorno virtual
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Datos
data/raw/*
data/interim/*
data/processed/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep

# Salidas
outputs/*
!outputs/.gitkeep

# Sistema
.DS_Store
Thumbs.db